
<div class="mt-2 mb-2 p-3 bg-secondary text-white rounded ">
 <h1>Structural directive</h1>
      <span>*ngIf, *ngFor</span>
</div>

<div class="row">
    <div class="col-3">
        <div *ngIf="isDiv1Visible" class="bg-danger p-3 text-center">
            <h4>Div-1</h4>
        </div>
    </div>
    <div class="col-3">
        <div *ngIf="isDiv2Visible" class="bg-success p-3 text-center">
            <h4>Div-2</h4>
        </div>
    </div>
    <div class="col-3" >
        <div *ngIf="num1 == num2" class="bg-secondary p-3 text-center">
            <h4>Div-3</h4>
        </div>
    </div>
    <div class="col-3">
        <div *ngIf="selectedState== 'India'" class="bg-primary p-3 text-center">
            <h4>Div-4</h4>
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-3 text-center">
        <button class="btn btn-danger" (click)="hideDiv1()">Hide</button>
        <button class="btn btn-success mx-2" (click)="showDiv1()">Show</button>
    </div>
    <div class="col-3 text-center">
        <button class="btn btn-success" (click)="toggleDiv2()">Toggle</button>
    </div>
    <div class="col-3">
        <div class="d-flex align-item-center">
           <input type="text" [(ngModel)]="num1" placeholder="Nam-1" width="50">
           <input type="text" [(ngModel)]="num2" placeholder="Nam-2" width="50">
        </div>
   
    </div>
    <div class="col-3 pt-3">
        <div class="d-flex justify-content-between align-item-center">
         <input type="checkbox" (click)="checkBoxShow()" class="mx-5" >
          <select [(ngModel)]="selectedState" class="mx-4">
            <option>Select State</option>
            <option>India</option>
            <option>USA</option>
            <option>Rassia</option>
           </select>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-3">
        <ol>
            <li *ngFor="let city of cityArray">{{city}}</li>
        </ol>
    </div>
    <div class="col-3">
        <div *ngFor="let city of cityArray">{{city}}</div>
    </div>
    <div class="col-3">
        <select >
            <option *ngFor="let city of cityArray" value="">{{city}}</option>
        </select>
    </div>
    <div class="col-3">

        <select name="" id="">
            <option *ngFor="let std of studentList" [value]="std.stdid">{{std.name}}</option>
        </select>

    </div>
</div>


<div class="row">
    <div class="col-5">
        <div class="table">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of studentList let sr = index">
                    <td>{{sr}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.city}}</td>
                    <td>
                        <span *ngIf="student.isPersent">Active</span>
                        <span *ngIf="student.isPersent == false">De-Acive</span>
                

                    </td>
                </tr>
            </tbody>
        </div>
    </div>
</div>