
<div class="mt-2 mb-2 p-3 bg-secondary text-white rounded ">
 <h1>Control Flow Statement</h1>
      <span>{{'@'}}For, {{'@'}}Switch</span>
</div>

<div class="row">
    <div class="col-3">
        <input type="text" [(ngModel)]="dayNumber" placeholder="Enter day number">
    </div>
    <div class="col-3">
        Day name is :
        @switch (dayNumber) {
            @case ('1') {
                <span>Sunday</span>
            }
            @case ('2') {
                <span>Monday</span>
            }
               @case ('3') {
                <span>Tuesday</span>
            }
               @case ('4') {
                <span>Wednesday</span>
            }
               @case ('5') {
                <span>Thursday</span>
            }
               @case ('6') {
                <span>Friday</span>
            }
               @case ('7') {
                <span>Saturday</span>
            }
            @default {
                <span>Wrong input</span>
            }
        }
    </div>
</div>


<div class="row">
    <div class="col-3">
        <ul>
            @for (item of cityArray; track $index) {
                <li>{{item}}</li>
            }
        </ul>
    </div>
    <div class="col-3">
           @for (item of cityArray; track $index) {
                 <div >{{item}}</div>
            }
       
    </div>
    <div class="col-3">
        <select >
            <option disabled selected>Select State</option>
            @for (item of cityArray; track $index) {
                <option>{{item}}</option>
            }
        </select>
    </div>
    <div class="col-3">
        <select>
            @for (item of studentList; track $index) {
                <option [value]="item.stdid">{{item.name}}</option>
            }
            
        </select>

    </div>
</div>


<div class="row">
    <div class="col-5">
        <div class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @for (item of studentList; track $index) {
                  <tr>
                    <td>{{$index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.isPersent}}</td>
                  </tr>
                }
            
            </tbody>
        </div>
    </div>
</div>
