
<div class="mt-2 mb-2 p-3 bg-secondary text-white rounded ">
 <h1>Control Flow Statement</h1>
      <span>{{'@'}}if, {{'@'}}else, {{'@'}}else if</span>
</div>

<div class="row">
    <div class="col-3">
        @if(isDiv1Visible == true){
           <div  class="bg-danger p-3 text-center">
            <h4>Div-1</h4>
           </div>
        }
    </div>
    <div class="col-3">
        @if(isWarningVisible){
          <div  class="bg-warning p-3 text-center">
            <h4>Div-2 warning</h4>
        </div>
        } @else{
   
        <div  class="bg-success p-3 text-center">
            <h4>Div-2 success</h4>
        </div>
        }
    
    </div>
    <div class="col-3" >
        @if(num1 == num2){
          <div class="bg-secondary p-3 text-center">
            <h4>Div-3</h4>
          </div>
        }@else {
            <div class="bg-primary p-3 text-center">
                <h4>Div-3</h4>
            </div>
        }
    
    </div>
    <div class="col-3">
        <div class="bg-primary bg-info p-3 text-center">
            @if(selectedStatus == 'Active'){
                 <h4>Student is Active</h4>
            }@else if(selectedStatus == 'De-Active'){
                <h4>Student is De-Active</h4>
            }@else if (selectedStatus == 'Pending') {
                <h4>Status is pending</h4>
            }@else {
                <h4>Please select status</h4>
            }
         
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-3 text-center">
        <button class="btn btn-success mx-2" (click)="showDiv1()">Show</button>
        <button class="btn btn-danger" (click)="hideDiv1()" >Hide</button>
    </div>
    <div class="col-3 text-center">
        <button class="btn btn-success" (click)="toggleDiv2()">Toggle</button>
    </div>
    <div class="col-3">
        <div class="d-flex align-item-center">
           <input type="text"  placeholder="Nam-1" [(ngModel)]="num1" width="30">
           <input type="text" placeholder="Nam-2" [(ngModel)]="num2" width="30">
        </div>
   
    </div>
    <div class="col-3 pt-3">
        <div class="d-flex justify-content-between align-item-center">
         <input type="checkbox" class="mx-5" >
          <select class="mx-4" [(ngModel)]="selectedStatus">
            <option disabled value="">Select Status</option>
            <option value="Active">Active</option>
            <option value="De-Active">De-Active</option>
            <option value="Pending">Pending</option>
           </select>
        </div>

    </div>
</div>




